$bg-pale: #F9F1E7;
$bg-dark: #5A1E1E;
$brand-terracotta: #D86A56;
$brand-blush: #ECA89F;
$brand-wood: #C58361;
$text-dark: #3E1F1F;
$text-light: #FFFDF9;
$font-heading: 'Fredoka', sans-serif;
$font-body: 'Nunito', sans-serif;